In [1]:
import pandas as pd

### Pandas Data Types

In [6]:
# 2 main datatypes Series (1 Dimensional) and DataFrame (2 Dimensional)
series = pd.Series(["BMW", "Toyota", "Honda"])
colors = pd.Series(["Blue", "Red", "White"])

In [15]:
# DataFrame = 2 dimensional
car_data = pd.DataFrame({"Car make": series, "Color": colors})
# car_data.CarMake

In [11]:
# Import data
car_sales = pd.read_csv("car-sales.csv")
car_sales.Brand.head()

0              BMW
1    Mercedes-Benz
2    Mercedes-Benz
3             Audi
4           Toyota
Name: Brand, dtype: object

In [18]:
# Exporting a data frame
# index = False to stop forced indexing of the csv rows
car_sales.to_csv("exported-car-sales.csv", index = False)
# car_sales.to_exel("exported-car-sales.xl")

In [20]:
# import exported csv
car_sales_exported = pd.read_csv("exported-car-sales.csv")
car_sales_exported.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

### Describe Data

In [ ]:
# Attribute : extra info about a data frame
car_sales.dtypes

# Function : operations on data frame