In [1]:
import numpy as np

### DataTypes & Attributes

In [2]:
# Numpy's main datatype is ndarray (n dimensional array)
# 1 dimensional, Names: Array, vector || Shape = (1, 4) or (1, n)
a1 = np.array([1, 2, 3, 4])

In [3]:
type(a1)

numpy.ndarray

In [4]:
# Multi dimensional, Names: Array, matrix || Shape = (2, 3) or (n, n)
a2 = np.array([
    [1, 2.0, 3.3],
    [4, 5, 6.5]
])

# Multi dimensional, Names: Array, matrix || Shape = (2, 3, 3) or (n, n, n)
a3 = np.array([
    [[1,2,3],[4,5,6],[7,8,9]],
    [[10,11,12],[13,14,15],[16,17,18]]
])

### Axis || Dimension || Shape (Axis, Axis, ...):
- Axis 0: Row || Vertical (Dimension 0 or d0)
- Axis 1: Column || Horizontal (Dimension 1 or d1)
- Axis n: n Dimension || Depth ((Dimension n or dn)

In [5]:
print(f"a1.shape: {a1.shape}, a2.shape: {a2.shape}, a3.shape: {a3.shape}")
print(f"Dimensions: a1.ndim: {a1.ndim}, a2.ndim: {a2.ndim}, a3.ndim: {a3.ndim}")

a1.shape: (4,), a2.shape: (2, 3), a3.shape: (2, 3, 3)
Dimensions: a1.ndim: 1, a2.ndim: 2, a3.ndim: 3

In [6]:
# data types
print(f"a1.dtype: {a1.dtype}, a2.dtype: {a2.dtype}, a3.dtype: {a3.dtype}")

# element size
print(f"a1.size: {a1.size}, a2.size: {a2.size}, a3.size: {a3.size}")
type(a1), type(a2), type(a3) # all are numpy.ndarray

a1.dtype: int64, a2.dtype: float64, a3.dtype: int64
a1.size: 4, a2.size: 6, a3.size: 18

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

### DataFrame form a Numpy Array:

In [7]:
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

### Creating arrays:

In [8]:
sample_array = np.array([1,2,3])

In [9]:
# shift + tab to get docs/prarms
# Return a new array of given shape and type, filled with ones.
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [10]:
ones.dtype

dtype('float64')

In [11]:
zeros = np.zeros((3,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [12]:
# ndarray from range
# arange([start,] stop[, step,], dtype=None, *, like=None)
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [13]:
# random ndarray: randint(low, high=None, size=None, dtype=int)
random_array = np.random.randint(0, 10, (3,3))
random_array

array([[4, 0, 5],
       [6, 9, 6],
       [9, 2, 3]])

In [14]:
# random ndarray: random(size=None)
# Return random floats in the half-open interval [0.0, 1.0)
random_arr_2 = np.random.random((1,2,3))
random_arr_2

array([[[0.60157881, 0.99726202, 0.10268962],
        [0.70698619, 0.19557572, 0.40390672]]])

In [15]:
random_arr_2.shape

(1, 2, 3)

In [16]:
# random ndarray: rand(d0, d1, ..., dn)
# Random values in a given shape.
random_arr_3 = np.random.rand(4,3)
random_arr_3

array([[0.43168578, 0.09586547, 0.48868688],
       [0.93030261, 0.44873464, 0.58415346],
       [0.78813028, 0.58181453, 0.85515218],
       [0.68655442, 0.58916819, 0.06672873]])

### Seed || Same Random Numbers || Pseudo Random Numbers:

In [17]:
# seed: Pseudo Random Numbers : Non-random random numbers
# Reseed the singleton RandomState instance, so on same seed the numbers are identical
np.random.seed(0)
random_array_4 = np.random.randint(0, 10, (3,4))
random_array_4

array([[5, 0, 3, 3],
       [7, 9, 3, 5],
       [2, 4, 7, 6]])

In [18]:
# np.random.seed(7)
# seed will only once for each underneth random fn
random_array_5 = np.random.randint(0, 10, (3,4))
random_array_5

array([[8, 8, 1, 6],
       [7, 7, 8, 1],
       [5, 9, 8, 9]])

### Viewing arrays and matrices:

In [19]:
# Find unique numbers from a NumPy array
np.unique(random_array_4)

array([0, 2, 3, 4, 5, 6, 7, 9])

In [20]:
# slicing and indexing array
a3 = np.random.randint(10, size=(2,3,4,5))
a3
# count numbers from outer most size (5) to innermost indexes (5 elements)

array([[[[4, 3, 0, 3, 5],
         [0, 2, 3, 8, 1],
         [3, 3, 3, 7, 0],
         [1, 9, 9, 0, 4]],

        [[7, 3, 2, 7, 2],
         [0, 0, 4, 5, 5],
         [6, 8, 4, 1, 4],
         [9, 8, 1, 1, 7]],

        [[9, 9, 3, 6, 7],
         [2, 0, 3, 5, 9],
         [4, 4, 6, 4, 4],
         [3, 4, 4, 8, 4]]],


       [[[3, 7, 5, 5, 0],
         [1, 5, 9, 3, 0],
         [5, 0, 1, 2, 4],
         [2, 0, 3, 2, 0]],

        [[7, 5, 9, 0, 2],
         [7, 2, 9, 2, 3],
         [3, 2, 3, 4, 1],
         [2, 9, 1, 4, 6]],

        [[8, 2, 3, 0, 0],
         [6, 0, 6, 3, 3],
         [8, 8, 8, 2, 3],
         [2, 0, 8, 8, 3]]]])

In [21]:
a3[:, :, :, :4]

array([[[[4, 3, 0, 3],
         [0, 2, 3, 8],
         [3, 3, 3, 7],
         [1, 9, 9, 0]],

        [[7, 3, 2, 7],
         [0, 0, 4, 5],
         [6, 8, 4, 1],
         [9, 8, 1, 1]],

        [[9, 9, 3, 6],
         [2, 0, 3, 5],
         [4, 4, 6, 4],
         [3, 4, 4, 8]]],


       [[[3, 7, 5, 5],
         [1, 5, 9, 3],
         [5, 0, 1, 2],
         [2, 0, 3, 2]],

        [[7, 5, 9, 0],
         [7, 2, 9, 2],
         [3, 2, 3, 4],
         [2, 9, 1, 4]],

        [[8, 2, 3, 0],
         [6, 0, 6, 3],
         [8, 8, 8, 2],
         [2, 0, 8, 8]]]])

In [22]:
a3[1][0][0]

array([3, 7, 5, 5, 0])

### Manipulate Arrays (ndarrays) & comparing:
- One dimension and One to Multi Dimension Arithmetic operation
     - achieveable with any size and shape as long as one array is One Dimensional
- Multi Dimensional Arrithmetic:
     - Arithmetic Operations On Multidimension ndarray requires both to be same size and shape
     - a2 * a3 will throw broadcasting error, as both are multidimensional and have different shape and size

In [37]:
### Arithmetic : basic math operations on shame shape and size
ones = np.ones(3)
a1 = np.array([1,2,3])
# addition
a1 + ones, np.add(a1, ones), a1 - ones, a1 * ones

(array([2., 3., 4.]),
 array([2., 3., 4.]),
 array([0., 1., 2.]),
 array([1., 2., 3.]))

In [32]:
# Arithmetic operations on different ndarray size and shape on 1 dimension
a1, a2, a1 * a2

(array([1, 2, 3]),
 array([[1. , 2. , 3.3],
        [4. , 5. , 6.5]]),
 array([[ 1. ,  4. ,  9.9],
        [ 4. , 10. , 19.5]]))

In [33]:
# Arithmetic Operations On Multidimension ndarray requires both to be same size and shape
# a2 * a3 will throw broadcasting error, as both are multidimensional and have different shape and size

In [34]:
# Power
a2 ** 2 # power of 2 || square

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [35]:
np.square(a2)

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [39]:
# Modulus operation
a1, a2, a1 % 2, a2 % 2

array([[1. , 0. , 1.3],
       [0. , 1. , 0.5]])

In [56]:
# Exponential: 2.71828183 ** n
np.exp([1,2,3]), np.exp([1]), 2.71828183 ** 1, np.exp([2]), 2.71828183 ** 2, np.exp([3]), 2.71828183 ** 3, np.exp([1])

(array([1, 2, 3]),
 array([ 2.71828183,  7.3890561 , 20.08553692]),
 array([2.71828183]),
 2.71828183,
 array([7.3890561]),
 7.389056107308149,
 array([20.08553692]),
 20.08553695734627,
 array([2.71828183]))

In [48]:
# Natural logarithm (ln) || base e (2.718281828459045) (Oposite of Exponential)
np.log([4]), np.log([4]), np.log([8])
# there are 2 more kinds of logarithm, common (base 10) and binary (base 2)

(array([1.38629436]), array([1.38629436]), array([2.07944154]))